body {
    background-color: rgb(62, 6, 6);
}
.container {
    width: 900px;
    height: 500px;
    background-color: rgb(60, 60, 60);
    margin: 200px auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    animation-name: cambiarColor;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;*/
    
    
    
}

@keyframes cambiarColor {
    from {
        background-color: rgb(60, 60, 60);
    }

    25% {
        background-color: rgb(37, 37, 37);
    }

    75% {
        background-color: rgb(10, 10, 10);
    }

    100% {
        background-color: rgb(60, 60, 60);
    }
}

.luna {
    width: 5px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    right: 400px;
    z-index: 1;
       

}

.fondo {
    width: auto;
    height: auto;
    position: absolute;
    bottom: -10px;
    right: 0px;
    z-index: 4;
    
}

.araña {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: 200px;
    animation-name: saltararaña; 
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    transform: scaleX(-2);
    transform: scaleY(1);
    animation-fill-mode: forwards;
    z-index: 5;
   
    
}

@keyframes saltararaña {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 300px;
    } 
    
    100% {
        left: 500px;

    }
}

.goblin {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    animation-name: mover-goblin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-timing-function: 2;
    transform: scaleX(50%);
    transform: scaleY(50%);
    z-index: 5;
    text-align: left;
   
    
}

@keyframes mover-goblin {
    0% {
        right: -800px;
        
    }

    100% {
        left: 120px;
       
    }
}

.libertad {
    position: absolute;
    bottom: -200px;
    left: -250px;
    z-index: 6;
   
    
}



.nuberosa {
    width: 100%;
    position: absolute;
    text-align: center;
    top: -50px;
    left: 300px;
    z-index: 2;
    animation-name: mover-nuberosa;
    animation-duration: 30s;
    animation-timing-function: linear;
     
    
}

@keyframes mover-nuberosa {
    from {
        left: 50px;
        
    }

    to {
        right: 1100px;
       
    }
}

.nubenegra {
    width: 100%;
    position: absolute;
    top: -75px;
    left: -30px;
    z-index: 3;
    animation-name: mover-nubenegra;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes mover-nubenegra {
    from {
        right: 50px;
        
    }

    to {
        left: 1100px;
       
    }
}

.nubenegra2 {
    width: 100%;
    position: absolute;
    text-align: right;
    top: -100px;
    right: 0px;
    z-index: 3;
    animation-name: mover-nubenegra2;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes mover-nubenegra2 {
    0% {
        right: -100px;
        
    }

    100% {
        left: -1000px;
       
    }
}

.boton {
    position: relative;
    width: 5%;
    background-color: rgb(73, 87, 87);
    display: flex;
    align-items: center;
    padding: 20px;
    margin: auto;
    text-align: center;
    justify-content: center;
     
    
    
}

.play
